input[type=text],
input[type=checkbox],
input[type=password],
input[type=search],
input[type=tel],
input[type=file],
input[type=submit],
input[type=email],
button[type=submit],
textarea {
 -webkit-appearance: none;
}

input[type="email"],
input[type="password"],
input[type="text"], 
textarea, 
textarea.form-control {
	height: 45px;
    display: block;
    outline: none;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: transparent;
    border: 1px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    opacity: 1;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}
.select:focus,
input[type="password"],
input[type="email"],
input[type="text"]:focus, 
textarea:focus, 
.form-control:focus {
	outline: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
.form-control::-moz-placeholder,
.form-control::-moz-placeholder {
    color: #fff !important;
    opacity: 1;
}

input[type="email"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="text"]::-ms-input-placeholder,
.form-control::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: #fff !important;
    opacity: 1;
}

input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}
.fake-select {
   display: block;
   overflow: hidden;
   width: 408px;
   border: 1px solid #fff;
   border-radius: 4px;
   position: relative; 
}
.fake-select:after  {
    position: absolute;
    top: 50%;
    margin: -7px 0 0;
    right: 15px;
    width: 10px;
    height: 10px;
    border-width: 1px 0 0 1px;
    border-color: #fff;
    border-style: solid;
    transform: rotate(225deg);
    content: '';
}
.select {
    background: transparent;
    border: 0;
    height: 45px;
    line-height: 44px;
    color: #fff;
    width: 425px;
}
button.btn {
    z-index: 1;
	position: relative;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #233570;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
button.btn:after {
    position: absolute;
    top: 100%;
    left: 100%;
    right: 100%;
    bottom: 100%;
    background: #ee9420;
    content: '';
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
      -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
    border-radius: 100%;
    z-index: -1;
}
button.btn:hover:after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}
button.btn:hover{
    color: #000;
    opacity: 1;
}
 @media only screen and (max-width: 1200px) {
	 .fake-select {
		 width: 325px;
	 }
	 .select {
		width: 340px; 
	 }
 }
 @media only screen and (max-width: 999px) {
	 .fake-select {
		 width: 233px;
	 }
	 .select {
		width: 240px; 
	 }
 }
 @media only screen and (max-width: 767px) {
	 .fake-select {
		 width: 100%;
	 }
	 .select {
		width: 102%; 
	 }
     button.btn{
         display: block;
         margin: 0 auto;
         width: 100%;
     }
 }