body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	position: relative;
}
body.successfull{
	height: 100vh;
	overflow: hidden;
}
.top-content {
	position: relative;
	z-index: 99;
}
strong { font-weight: 500; }
a, a:hover, a:focus {
	outline: none;
	color: #7aaede;
	text-decoration: none;
    -o-transition: all 0.3s; 
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s; 
	-ms-transition: all 0.3s; transition: all 0.3s;
}
h1, h2 {
	margin-top: 10px;
	font-size: 45px;
    color: #555;
    line-height: 50px;
	font-family: 'Handlee', cursive;
	letter-spacing: 2px;
}
h3 {
	font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
img { max-width: 100%; }
.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}
.blue { color: #7aaede; }
::-moz-selection { background: #7aaede; color: #fff; text-shadow: none; }
::selection { background: #7aaede; color: #fff; text-shadow: none; }
.navbar-header {
	padding: 0;
	-webkit-transition: margin 0.4s ease;
	-moz-transition: margin 0.4s ease;
	transition: margin 0.4s ease;
}
.nav-active .navbar-header { margin: 0 0 0 -200px;}
#wrapper {
	position: relative;
	width:  100%;
	padding: 100px 0 0;
	-webkit-transition: margin 0.4s  ease;
	-moz-transition: margin 0.4s  ease;
	transition: margin 0.4s  ease;
}
#wrapper:after{
	display: block;
	clear: both;
	content: '';
}
.nav-active #wrapper {
	margin: 0 0 0 -400px;
}
/***** Loader *****/
.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}
.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../../images/loading.gif) center center no-repeat;
}
/***** General style, all sections *****/
.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}
.section-container-gray-bg {
	background: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}
.section-container-image-bg .divider-1 span {
	background: #fff;
}
.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}
.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}
.section-bottom-button {
	padding-top: 60px;
}
/***** Divider *****/
.divider-1 span {
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #ddd;
}
.modal-content {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	text-align: left;
}
.modal-body {
	padding: 0 25px 15px 25px;
}
.modal-body img {
	margin-bottom: 15px;
}
.modal-header {
	padding: 25px 25px 15px 25px;
}
.modal-footer {
	padding: 15px 25px 25px 25px;
}
.modal-header, .modal-footer { border: 0; }
.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}
.modal-footer button {
	height: 50px;
	margin: 0;
    padding: 0 20px;
	background: none;
	border: 1px solid #888;
	font-size: 16px;
    font-weight: 300;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.modal-footer button:hover { outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; }

.modal-footer button:focus, .modal-footer button:active:focus, .modal-footer button.active:focus { 
	outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-footer button:before {
	background: none;
}
/***** Top menu *****/
.navbar {
	padding-top: 10px;
	background: #333;
	background: rgba(51, 51, 51, 0.3);
	border: 0;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }
.navbar-nav {
	font-size: 16px;
	color: #fff;
}
.navbar-inverse ul.navbar-nav li a { color: #fff; opacity: 0.8; border-bottom: 1px solid transparent; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a.btn-link-2 {
	height: auto;
	margin: 4px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}
.navbar-brand {
	height: auto;
	padding: 0;
	color: #fff;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	line-height: 80px;
}
.navbar-brand:hover{ color: #fff;}
.navbar-brand > img {
	width: 100%;
	height: auto;
}
/***** Top content *****/
#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	padding: 10px 0;
	margin: 0 0 10px;
	background: rgba(35, 53, 112, 0.5);
}
#nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	margin: 100px 0 0;
	bottom: 0;
	right: -400px;
	height: calc(100vh - 100px);
	overflow: auto;
	text-align: left;
	width: 400px;
	background: rgba(35, 53, 112, 0.5);
	z-index: 999 !important;
	-webkit-transition: right 0.4s ease;
	-moz-transition: right 0.4s ease;
	transition: right 0.4s ease;
}
.nav-active #nav {
	right: 0;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 22px;
	line-height: 26px;
	overflow: auto;
}
#nav ul li {
	display: block;
}
#nav ul li .slide{
	overflow: hidden;
	margin: 10px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	font-style: italic;
	border-radius: 4px;
	padding: 10px;
	letter-spacing: 1px;
}
#nav ul li a {
	display: block;
	border-bottom: 1px solid #fff;
	padding: 15px;
	color: #fff;
}
#nav ul li.active a,
#nav ul li a:hover{
	background: #000;
	border-color: #8ab3c3;
}
.inner-bg {
	display: block;
	width:  100%;
}
.inner-bg:after {
	display: block;
	clear: both;
	content: '';
}
.form-box {
	margin: 80px 0 0;
}
.form-box .register-successfully { display: none;}
.successfull .register-successfully{
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
}
.register-successfully .close-thankYou{
	color: #fff;
	position: absolute;
	top: -12px;
	right: -10px;
	font-size: 25px;
	line-height: 1;
	cursor: pointer;
}
.successfull .register-successfully .holder {
	background: rgba(35, 53, 112, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 400px;
	margin: -200px 0 0 -300px;
	z-index: 9999;
	padding: 150px 20px 0;
}
.successfull .register-successfully h2 {
	color: #00CC00;
	font-weight: 600;
	font-size: 50px;
	line-height: 52px;
}
.top-content .text {
	padding-top: 120px;
	color: #fff;
}
.top-content .text h1 { color: #fff; }
.top-content .description {
	margin: 20px 0 10px 0;
}
.social-links {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}
.social-links li {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0;
	padding: 0 10px 10px;
}
.social-links li a {
	display: block;
	padding: 10px;
	min-width: 150px;
	color: #fff;
	overflow: hidden;
	border-radius: 4px;
	white-space: nowrap;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
	z-index: 1;
}
.social-links li a:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	z-index: -1;
	content: '';
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.social-links li a:hover:after {
	right: 0;
}
.social-links li a:hover i {
	width: 117%;
}
.social-links li a i {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 -5px;
	padding:0 10px;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
}
.social-links li .facebook {
	background: #3a589b;
}
.social-links li .facebook:after{
	background: #2f4c8f;
}
.social-links li .twitter {
	background: #55acee;
}
.social-links li .twitter:after{
	background: #489ddd;
}
.social-links li span {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 -5px;
	width: 50%;
	text-align: left;
}
.form-top {
	overflow: hidden;
	padding: 0 25px;
	background: rgba(35,53,112,0.5);
	text-align: left;
}
.form-top-left {
	float: left;
	width: 75%;
	color: #fff;
	padding-top: 25px;
}
.form-top-left h3 { margin-top: 0; }
.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 70px;
	color: #eee;
	line-height: 100px;
	text-align: right;
}
.form-bottom {
	padding: 5px 25px 30px;
	background: rgba(35,53,112,0.5);
	text-align: left;
}
.form-bottom .input-holder { margin: 0 0 15px;}
.form-bottom .input-holder .error-state{
	display: none;
	color: #ff8260;
}
.form-bottom .input-holder.error .error-state{ display: block;}
.form-bottom .input-holder.error .fake-select:after,
.form-bottom .input-holder.error .fake-select{
	border-color: #ff8260;
}
.form-bottom .input-holder.error .form-control{
	border-color: #ff8260;
	color: #ff8260;
}
.form-bottom .input-holder.error input[type="email"]::-moz-placeholder, 
.form-bottom .input-holder.error input[type="password"]::-moz-placeholder, 
.form-bottom .input-holder.error input[type="text"]::-moz-placeholder{
	color: #ff8260 !important;
}
.form-bottom form textarea {
	height: 100px;
}
.form-bottom form .form-links {
	display: inline-block;
	width: 275px;
	text-align: right;
	vertical-align: top;
}
.form-bottom form .form-links a { color: #888; }
.form-bottom form .form-links a:hover, 
.form-bottom form .form-links a:focus { color: #888; border-bottom: 1px dotted #888; }
/***** Features *****/
.features {
	padding-bottom: 30px;
}
.features-box {
	padding-top: 15px;
	padding-bottom: 15px;
}
.features-box-gray {
	background: #f8f8f8;
}
.features-box .features-box-icon {
    font-size: 80px;
    color: #7aaede;
    line-height: 80px;
}
.features-box h3 {
	margin-top: 15px;
}
/***** More features *****/
.more-features-container {
	padding-bottom: 60px;
}
.more-features-box {
	margin-top: 30px;
	margin-bottom: 20px;
}
.more-features-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.more-features-box-text:first-child { margin-top: 20px; }
.more-features-box-text-left {
	padding-left: 0;
	padding-right: 30px;
}
.more-features-box-text-icon {
	float: left;
	width: 60px;
	height: 60px;
	padding-top: 6px;
	background: #7aaede;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
}
.more-features-box-text h3 {
	float: right;
	width: 86%;
	margin-top: 0;
}
.more-features-box-text-description {
	float: right;
	width: 86%;
}
/***** Always beautiful *****/
.always-beautiful-container {
	padding-bottom: 60px;
}
.always-beautiful-box {
	margin-top: 30px;
	margin-bottom: 20px;
}
.always-beautiful-box-text {
	margin-top: 40px;
	padding-left: 30px;
	overflow: hidden;
	text-align: left;
}
.always-beautiful-box-text:first-child { margin-top: 20px; }
.always-beautiful-box-text-left {
	padding-left: 0;
	padding-right: 30px;
}
.always-beautiful-box-text h3 {
	margin-top: 0;
}
.always-beautiful-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}
/***** How it works *****/
.how-it-works {
	padding-bottom: 30px;
}
.how-it-works-box {
	padding-top: 15px;
	padding-bottom: 15px;
}
.how-it-works-box .how-it-works-box-icon {
	position: relative;
    font-size: 80px;
    line-height: 80px;
}
.how-it-works-box-icon .how-it-works-step {
	position: absolute;
	top: 0;
	left: 95px;
	width: 32px;
	height: 32px;
	background: #7aaede;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	font-size: 24px;
	color: #fff;
    line-height: 32px;
}
.how-it-works-box h3 {
	margin-top: 15px;
}
.how-it-works-box p {
	opacity: 0.8;
}
/***** Pricing *****/
.pricing {
	padding-bottom: 30px;
}
.pricing-box {
	padding-top: 30px;
	padding-bottom: 20px;
}
.pricing-box-inner {
	background: #f8f8f8;
}
.pricing-box-price {
	position: relative;
	padding: 20px 0 7px 0;
	background: #eee;
	font-size: 42px;
	color: #555;
    line-height: 54px;
}
.pricing-box-best .pricing-box-price {
	background: #7aaede;
	color: #fff;
}
.pricing-box-price span {
	font-size: 18px;
	color: #888;
    line-height: 32px;
}
.pricing-box-best .pricing-box-price span {
	color: #fff;
}
.pricing-box-icon {
	position: absolute;
	top: -32px;
	right: 20px;
	width: 63px;
	height: 63px;
	padding-top: 5px;
	background: #7aaede;
	border: 3px solid #fff;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.pricing-box-icon span {
	display: block;
	font-size: 40px;
    line-height: 40px;
}
.pricing-box h3 {
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px 20px;
	background: #eee;
	color: #888;
}
.pricing-box.pricing-box-best h3 {
	background: #7aaede;
	color: #fff;
}
.pricing-box h4 {
	margin-top: 0;
	margin-bottom: 2px;
	padding: 10px 20px;
	background: #e8e8e8;
	font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
.pricing-box.pricing-box-best h4 {
	background: #02848a;
	color: #fff;
}
.pricing-box-features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pricing-box-features li {
	padding: 7px 20px;
	border-bottom: 1px solid #eee;
}
.pricing-box-sign-up {
	padding: 25px 0;
}
/***** Call to action *****/
.call-to-action-container .section-bottom-button {
	padding-top: 30px;
}
/***** About us *****/
.about-us-container {
	padding-bottom: 65px;
}
.about-us-box {
	padding-top: 30px;
	padding-bottom: 15px;
}
.about-us-box .about-us-photo {
	position: relative;
	width: 160px;
	margin: 0 auto;
}
.about-us-box .about-us-photo img {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.about-us-box .about-us-photo .about-us-role {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 3px 5px;
	background: #7aaede;
	font-size: 14px;
	color: #fff;
	line-height: 15px;
	text-transform: uppercase;
}
.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 36px;
    line-height: 36px;
}
.about-us-box .about-us-social a { color: #ddd; }
.about-us-box .about-us-social a:hover, .about-us-box .about-us-social a:focus { color: #7aaede; }
/***** Testimonials *****/
.testimonials-container {
	padding-bottom: 70px;
}
.testimonial-list {
    margin-top: 30px;
    text-align: left;
}
.testimonial-list .tab-pane { overflow: hidden; }
.testimonial-list .testimonial-image {
	position: relative;
	float: left;
	width: 17%;
	margin: 10px 0 0 0;
}
.testimonial-list .testimonial-image img {
	max-width: 120px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.testimonial-list .testimonial-image .testimonial-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	padding-top: 3px;
	background: #7aaede;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	font-size: 32px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.testimonial-list .testimonial-image:hover .testimonial-icon { opacity: 0; }
.testimonial-list .testimonial-text {
	float: left;
	width: 83%;
}
.testimonial-list .nav-tabs {
    border: 0;
    text-align: right;
}
.testimonial-list .nav-tabs li {
	float: none;
	display: inline-block;
	margin-left: 5px;
    margin-right: 5px;
}
.testimonial-list .nav-tabs li a {
    width: 14px;
    height: 14px;
    padding: 0;
    background: #ddd;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}
.testimonial-list .nav-tabs li a:hover { border: 0; background: #7aaede; }
.testimonial-list .nav-tabs li.active a { background: #7aaede; }
.testimonial-list .nav-tabs li.active a:focus { border: 0; }
/***** Footer *****/
footer {
	padding: 40px 0 35px 0;
}
.footer-social {
	font-size: 50px;
    line-height: 50px;
}
.footer-social a { color: #ddd; }
.footer-social a:hover, .footer-social a:focus { color: #7aaede; }
.footer-copyright {
	margin-top: 25px;
}
.slideshow {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-ms-filter: blur(5px);
	-moz-filter: blur(5px);
	background: #000;
	-webkit-transition: right 0.4s ease;
	-moz-transition: right 0.4s ease;
	transition: right 0.4s ease;
}
.slideshow .slide {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}
.slideshow .slide img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 101vh;
	width: 101vw;
}
.slideshow .slide.active {
	z-index: 2;
}
.nav-opener {
	width: 30px;
	height: 21px;
	z-index: 1005;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 50%;
	right: 20px;
	margin: -15px 0 0;
}
.nav-opener:before,
.nav-opener:after,
.nav-opener span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	background: #ffc70d;
}
.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 50%;
	margin: -2px 0 0;
}
.nav-opener:after {
	top: auto;
	bottom: 0;
}
.nav-active .nav-opener span {
	display: none;
}
.nav-active .nav-opener:hover {
	opacity: .9;
}
.nav-active .nav-opener:after,
.nav-active .nav-opener:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 0;
	right: 0;
}
.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.timer-hold{
	 display: block;
 }
.timer{
	text-align: center;
	position: relative;
	z-index: 999;
	padding: 0 0 10px;
}
.timer .table-cell{
	display: inline-block;
	margin: 0 5px;
	width: 79px;
}
.timer .table-cell .tab-val{
	font-family: 'Lobster', cursive;
	font-size: 35px;
	color: #fff;
	height: 81px;
	line-height: 81px;
	margin: 0 0 5px;
	background: rgba(0,0,0,0.5);
	border-radius: 100%;
}
.timer .table-cell .tab-metr{
	font-family: Arial;
	font-size: 12px;
	text-transform: uppercase;
}

#simple_timer.timer .table-cell.day, 
#periodic_timer_days.timer .table-cell.hour{
	width: 80px;
}
@media only screen and (max-width: 999px) {
	#header{
		background: rgba(35, 53, 112, 1);
		padding: 10px 0 6px;
	}
	#nav{
		margin: 96px 0 0;
		height: calc(100vh - 96px);
		 background: rgba(35, 53, 112, 1);
	}
}

@media only screen and (max-width: 767px) {
	h1, h2{
		font-size: 30px;
		line-height: 33px;
	}
	.social-links {
		max-width: 320px;
		margin: 0 auto;
	}
	.social-links li{
		display: block;
	}
	 .top-content .text{
		 padding: 20px 30px 0;
	 }
	 .form-box{
		 margin: 20px 0 0;
	 }
	 .navbar-header{
		 padding: 0  0 0 10px;
		 width: 183px; 
	 }
	 .navbar-brand{
		 font-size: 30px;
		 line-height: 34px;
	 }
	 #nav{
		 width: 200px;
		 right: -200px;
		 margin: 50px 0 0;
		 height: calc(100vh - 50px);
	 }
	 #nav ul li .slide{
		 font-size: 12px;
		 line-height: 16px;
	 }
	 .nav-active #nav{
		 right: 0;
	 }
	 #nav ul{
		 font-size: 16px;
		 line-height: 20px;
	 }
	 .nav-active #wrapper{
		 margin: 0 0 0 -199px;
	 }
	 .nav-active .navbar-header{ margin: 0 0 0 -80px;}
	 .successfull .register-successfully .holder {
		 max-width: 300px;
		 max-height: 300px;
		 margin: -150px 0 0 -150px;
		 padding: 75px 0 0;
	 }
 }
 .resize-active * {
	 transition: none !important;
 }